.home{
    text-align: center;
    box-sizing: border-box;
    position: relative;
    /* background-color: rgb(212, 212, 212); */
  }
.hr-home{
    background-color: #6b9b2c;
    height: 1.2px;
    border-style: none;
    margin: 15px 0;
}
.hr-home-partner{
    background-color: #6b9b2c;
    position: relative;
    height: 1.2px;
    border-style: none;
    z-index: 8;
}
.text-partner{
    position: relative;
    z-index: 8;
}
.hr-home-carousel{
    background-color: #6b9b2c;
    height: 1.2px;
    border-style: none;
    margin: 0;
}
div.text-home{
    position: relative;
    text-align: center;
    width: 60%;
    margin: auto;
    text-align: justify;
    z-index: 2;
}
.comma0{
    color: #6b9b2c;
    font-size: 2.5em;
    padding: 5px;
    position: relative;
    top: 30px;
    left: 0px;
    border: solid 2px #6b9b2c;
    border-radius: 3px;
    margin-bottom: 30px;
}
.comma1{
    color: #6b9b2c;
    font-size: 2.5em;
    padding: 5px;
    position: relative;
    float: right;
    border: solid 2px #6b9b2c;
    border-radius: 3px;
}
.home-bold{
    font-weight: 700;
    font-size: larger;
    font-style: italic;
}
.text-h{
    text-align: justify;
    /* width: 70%; */
margin: auto;}
.partner{
    z-index: 8;
    padding: 0;
}
div.carrousel-home{
    width: 150px;
    margin: auto;
    z-index: 4;
}

.w-100{
    width: 125px;
    height: 120px;
    min-width: 110px;
    z-index: 1;
}
.carousel-item{
    z-index: 2;
}
.graduation-home{
        position: relative;
        
}
.graduation-bottom{
    position: absolute;
    z-index: -0;
    bottom: 00px;
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgb(212, 212, 212), rgb(43, 43, 43));
}
.pic-header-home {
    filter: grayscale(80%);
    width: 100%;
    background-position: center;
}
.social-home{
    z-index: 100;
}
.social-h{
    list-style: none;
    position: absolute;
    top: 30px;
    right: 20px;
    display: flex;
    }
    .social-media-h{
        color: rgb(99, 99, 99);
        margin: 10px;
        font-size: 30px;
    }
    .social-h :hover{
        color: rgb(255, 255, 255);
        display: inline-block;
        font-size: 31px;
        transition: 0.3s ease-in-out;
    }
    .cover-banner {
        width: 100%;
        background-position: center;
    }
    @media (max-width:992px) {
        
        div.text-home{
            width: 75%;
        }
    }
    @media (max-width:768px) {
        .social-media-h{
            font-size:20px;
            padding: 1px;
            margin: 3px
        }
        div.text-home{
            width: 80%;
            margin: auto;
            text-align: justify;
            z-index: 2;
            font-size: 14px;

        }
        .comma0{
            font-size: 1.8em;
        }
        .comma1{
            font-size: 1.8em;
        }
        .text-partner{
            font-size: 18px !important;
            font-weight: 600;
        }
    }
    /* Start ABOUT */
    .about-wall{
        background-color: #343A40;
    }
    .header-cover {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text-cover {
        color: white;
        position: absolute;
        font-size: 5vw;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: 1px 1px 2px #343A40, 0 0 1em #343A40, 0 0 0.2em #343A40;
    }
    .border-text {
        width: 11vw;
        height: 18%;
        position: absolute;
        top: 40%;
        border-bottom: solid;
        border-bottom-width: 1px;
        border-bottom-color: #ffffff;
        border-top: solid;
        border-top-width: 1px;
        border-top-color: #ffffff;
    }
    section.section-dark {
        padding: 30px 10px;
    }
    .paralax-title {
        color: #6b9b2c !important;
        text-transform: uppercase;
        font-size: 22px;
    }
    .word-about {
        text-align: justify;
        color: rgb(238, 238, 238);
        padding: 0 70px;
    }
    .hr-about {
        text-align: justify;
        color: rgb(238, 238, 238);
        padding: 0 10px;
    }
    .container-about1 {
        background-color: #343A40;
        width: 100%;
        display: flex;
        flex-flow: wrap;
    }
    .container-about1 {
        text-align: center;
        padding: 0;
        border-top: 1px solid #6b9b2c;
    }
    .box1 {
        position: relative;
        /* min-width: 391.6px; */
        width: 50%;
        height: 40vh;
        /* padding: 15px; */
        background-color: #343A40;
        /* border: 3px solid rgb(212, 212, 212); */
    }
    .pimg{
        min-height: 400px;
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
            
    }
    .pimg1{
        background-image: url(../images/Parallax/engineering.jpg);
    }
    .pimg2{
        background-image: url(../images/Parallax/maintenance.jpg);
    }
    .pimg3{
        background-image: url(../images/Parallax/construction1.jpg);
    }
    .pimg4{
        background-image: url(../images/Parallax/Management.jpg);
    }
    .pimg5{
        background-image: url(../images/Parallax/procurement.jpg);
    }

    .ptext {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        color: #000;
        font-size: 1.5vw;
        letter-spacing: 8px;
        text-transform: uppercase;
    }
    
    .ptext .border {
        background-color: #111;
        color: #fff;
        padding: 20px;
    }
    
    span.border {
        width: 30vw;
    }
    
    .paralax-title {
        color: #6b9b2c !important;
        text-transform: uppercase;
        font-size: 22px;
    }
    .grad2 {
        width: 100%;
        height: 20vh;
        background: linear-gradient(#343A40, rgb(43, 43, 43));
    }
    @media (max-width:768px) {
        .ptext {
            font-size: 16px;
        }
        .paralax-title {
            font-size: 19px;
        }
        .word-about {
            font-size: 12px;
            padding: 10px;
        }
        .container-about1 {
            justify-content: center;
            /* flex-flow: column wrap; */
        }
        .boxparallax{
            display: none;
        }
        .hr-about {
            font-size: 12px;
            left: 0;
        }
        .box1 {
            width: 90%;
            height: 40vh;
            /* border: 3px solid rgb(212, 212, 212); */
        }
        .border {
            line-height: 70px;
        }
        .border-text {
            width: 10vw;
            height: 18%;
            position: absolute;
            top: 37%;
            border-bottom: solid;
            border-bottom-width: 1px;
            border-bottom-color: #ffffff;
            border-top: solid;
            border-top-width: 1px;
            border-top-color: #ffffff;
        }
    }
    
    /* About end */

    /* Services Start */
    .container-services {
        width: 95vw;
        padding: 10px;
        margin: 10px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 30;
    }
    

.box {
    overflow: hidden;
    height: 400px;
    width: 90vw;
    padding: 0px;
    border: 3px solid #ddd;
    flex: 1;
    transition: 1s;
}

.box:hover {
    flex: 3;
    font-size: 1.3rem;
}

.bx1 {
    background-image: url(../images/Services/process.jpg);
    background-size: cover;
    animation: fadeIn 1s;
}

.bx2 {
    background-image: url(../images//Services/piping.jpg);
    background-size: cover;
    animation: fadeIn 2s;
}

.bx3 {
    background-image: url(../images//Services/mechanical.jpg);
    background-size: cover;
    animation: fadeIn 3s;
}

.bx4 {
    background-image: url(../images//Services/civil.jpg);
    background-size: cover;
    animation: fadeIn 4s;
}

.bx5 {
    background-image: url(../images//Services/instrumentation.jpg);
    background-size: cover;
    animation: fadeIn 5s;
}

.bx6 {
    background-image: url(../images//Services/electricity.jpg);
    background-size: cover;
    animation: fadeIn 6s;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.title {
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    font-size: 24px;
    text-align: center;
    height: 70px;
}

.text-inside {
    color: white;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 10px;
    height: 88.2%;
    text-align: justify;
    z-index: 3;
    
}
.graduation-bottom-serv{
    position: absolute;
    z-index: -0;
    bottom: 0px;
    width: 100%;
    height: 60vh;
    background: linear-gradient(rgb(212, 212, 212), rgb(43, 43, 43));
}
.z{
    z-index: 10;
}

@media (max-width:980px) {
    .container-services {
        padding: 10px;
        margin: 50px auto;
        display: block;
        transition: 0.3sx;
    }
    
    .graduation-bottom-serv{
        z-index: -2;
    }
}

@media (max-width:1070px) {
    .footer-text1 {
        font-size: 14px;
    }
    .fa-footer {
        font-size: 1.2rem;
    }
}
    /* Serices end */


    /* Project Start  */

.custom-bg{

    background: transparent;
    
}
.parallax-project{
    object-fit: fill;
    min-height: 100vh;
    width: fit-content;
    height: fit-content;
    

}
@media(max-width: 1037px){
    .parallax-project{
        height: 1550px;
    }
} 
@media(max-width: 696px){
    .parallax-project{
        height: 3020px;
    }
} 

/* end Services */

/* Contact start */


.contact-section {
    /* background: url(/res/contact-form.jpg); */
    background-size: cover;
    background-color: #343A40;
    padding: 40px 0;
    z-index: -99;
}

.contact-section h1 {
    color: #ddd;
    text-align: center;
    font-size: 3vw;
}

.border {
    width: 150px;
    height: 5px;
    background-color: #6b9b2c;
    margin: 5px auto 40px auto;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
    z-index: -92;
}

.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 10px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}

.contact-form-text:focus {
    box-shadow: 0 0 5px 1px #6b9b2c;
}

textarea.contact-form-text {
    resize: none;
    height: 120px;
}

.contact-form-btn {
    float: right;
    border: 0;
    background: #6b9b2c;
    color: #fff;
    padding: 12px 50px;
    border-radius: 25px;
}

.contact-form-btn:hover {
    background: #ddd;
    color: #6b9b2c;
    border: #6b9b2c 2px solid;
    font-weight: 600;
}

.container-contact1 {
    display: flex;
    /* flex-direction: row; */
    position: relative;
}

.map {
    width: 60vw;
    height: 60vh;
}

.ze {
    font-size: 20px;
}
.bx11 {
    padding: 20px;
    background-color: #fff;
    width: 100%;
    border-top: 2px solid #6b9b2c;
    border-bottom: 2px solid #6b9b2c;
    text-align: left;
}

.bx12 {
    width: 60vw;
}
.bx11 h1 {
    width: 20px;
    color: #6b9b2c;
    padding: 0;
    margin: 0;
    line-height: 0;
   
}

.span-contact {
    font-size: 22px;
    font-weight: 900;
    color: rgb(136, 136, 136);
    font-style: italic;
}

@media(max-width: 768px) {
    .map {
        width: 100vw;
        height: 60vh;
    }
    .container-contact1 {
        flex-direction: row;
    }
    .bx10 {
        display: none;
    }
    .bx11{
        width: 100vw;
        height: 60vh;
    }
}
    
